<html lang="en">

<head>
    <title>{{classroom.name}} - Classroom</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Classroom made for college by MostafaAdly - Visit my portfolio via https://dev-adly.tk/" />
    <meta name="author" content="MostafaAdly" />
    <link rel="shortcut icon" href="/{{dir}}/views/img/cic-logo.jpg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script src="https://kit.fontawesome.com/e6c13277a1.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
        integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
        crossorigin="anonymous"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/{{dir}}/views/assets/css/theme-3.css" />

</head>

<body>
    <nav class="navbar navbar-expand-sm" style="float: right;margin-right:10px">
  <a class="navbar-brand" href="#">
    {{session.username}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list-4">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{session.image}}" width="40" height="40" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{!-- <a class="dropdown-item" href="#">Dashboard</a>
          <a class="dropdown-item" href="#">Edit Profile</a> --}}
          <a class="dropdown-item" href="{{classroom.homePage}}/logout">Log Out</a>
        </div>
      </li>   
    </ul>
  </div>
</nav>

    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a href="#">{{classroom.name}}</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="{{classroom.image}}" alt="classroom-image" />

                    <div class="bio mb-3">{{classroom.description}}.<br /><a href="https://dev-adly.tk/">Visit my portfolio</a>
                    </div>
                    <ul class="social-list list-inline py-3 mx-auto">
                        <li class="list-inline-item"><a href="https://dev-adly.tk/instagram"><i
                                    class="fab fa-instagram fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://dev-adly.tk/github"><i
                                    class="fab fa-github fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://dev-adly.tk/discord"><i
                                    class="fab fa-discord fa-fw"></i></a></li>
                    </ul>
                    <hr />
                </div>

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-home fa-fw mr-2"></i>Posts
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/assignments"><i
                                class="fas fa-bookmark fa-fw mr-2"></i>Assignments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/teachersandstudents"><i class="fas fa-user fa-fw mr-2"></i>Teachers &
                            Students</a>
                    </li>
                </ul>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="https://dev-adly.tk/" target="_blank">Visit me</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-wrapper">
        <section class="cta-section theme-bg-light py-5">
            <div class="container text-center">
                <h2 class="heading">{{classroom.name}} - Classroom</h2>
                <div class="intro">{{classroom.description}}</div>
                {{! <form class="signup-form form-inline justify-content-center pt-3">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail"
                            placeholder="Enter email" />
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form> }}
            </div>
            <!--//container-->
        </section>
        <section class="blog-list px-3 py-5 p-md-5">
            <div class="container">
                {{#each classroom.posts}}
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" style="width: 110px;height: 110px;object-fit: cover;
  border: 5px solid #ddd;
  border-radius: 15px;" src="{{getImageById this.by}}" alt="image" />
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="#">
                                    {{#if (isTeacher this.by)}}
                                    <i class="bi bi-patch-check-fill" style="color: rgb(0, 173, 173);"></i>
                                    {{/if}}
                                    {{getNameById this.by}}</a>
                            </h3>
                            <div class="meta mb-1">
                                <span class="date">{{this.time}}</span>
                                {{#if (isTeacher this.by)}}
                                <span class="copyright" style="color: rgb(0, 173, 173)">Teacher</span>
                                {{/if}}
                                <span class="comment"><a href="#">{{getCommentsCount
                                        ../id
                                        this.id
                                        }} <i class="fa-solid fa-comment"></i></a></span>
                            </div>
                            <div class="intro">{{breaklines
                                this.text
                                }}</div>
                        </div>
                    </div>
                </div>
                {{/each}}

                {{! <nav class="blog-nav nav nav-justified my-5">
                    <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i
                            class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                    <a class="nav-link-next nav-item nav-link rounded" href="blog-list.html">Next<i
                            class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                </nav> }}

            </div>
        </section>

        <footer class="footer text-center py-2 theme-bg-dark">

            <small class="copyright">Not an original design
                <i class="fas fa-heart" style="color: #fb866a;"></i>
                do not forget to visit
                <a href="http://dev-adly.tk/" target="_blank">MostafaAdly</a>
                for more projects</small>

        </footer>

    </div>
    <!--//main-wrapper-->

    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
    {{! <div id="config-panel" class="config-panel d-none d-lg-block">
        <div class="panel-inner">
            <a id="config-trigger" class="config-trigger config-panel-hide text-center" href="#"><i
                    class="fas fa-cog fa-spin mx-auto" data-fa-transform="down-6"></i></a>
            <h5 class="panel-title">Choose Colour</h5>
            <ul id="color-options" class="list-inline mb-0">
                {{!-- <li class="theme-1 active list-inline-item"><a data-style="/{{dir}}/views/assets/css/theme-1.css" href="#"></a> --}}
                </li>
                {{!-- <li class="theme-2 list-inline-item"><a data-style="/{{dir}}/views/assets/css/theme-2.css" href="#"></a></li>
                <li class="theme-3 list-inline-item"><a data-style="/{{dir}}/views/assets/css/theme-3.css" href="#"></a></li>
                <li class="theme-4 list-inline-item"><a data-style="/{{dir}}/views/assets/css/theme-4.css" href="#"></a></li>
                <li class="theme-5 list-inline-item"><a data-style="/{{dir}}/views/assets/css/theme-5.css" href="#"></a></li>
                <li class="theme-6 list-inline-item"><a data-style="/{{dir}}/views/assets/css/theme-6.css" href="#"></a></li>
                <li class="theme-7 list-inline-item"><a data-style="/{{dir}}/views/assets/css/theme-7.css" href="#"></a></li>
                <li class="theme-8 list-inline-item"><a data-style="/{{dir}}/views/assets/css/theme-8.css" href="#"></a></li> --}}
            </ul>
            <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
        </div>
    </div> }}

    <script src="/{{dir}}/views/assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="/{{dir}}/views/assets/plugins/popper.min.js"></script>
    <script src="/{{dir}}/views/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/{{dir}}/views/assets/js/demo/style-switcher.js"></script>

</body>

</html>